* {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    box-sizing : border-box;
    transition : all .6s;
}
     
:root {
    --theme : blue;
}
            
body {
    min-height : 100vh;
    font-family : 'Rubik', Helvetica;
}
            
.wrapper {
    /*position : relative;*/
    /*margin-left : -200px;*/
    overflow : hidden;
    height : 100vh;
    display : grid;
    /*transition : 1.5s cubic-bezier(0,1.56,1,-1.4)*/
    grid-template-columns : 200px 100vw;
}
.menu-left {
    grid-column : 1 / 2;
    background : var(--theme);
}

