.index {
    height : auto;
    background : #eee;
    overflow-y : scroll;
    grid-column : 2 / 3;
    
    
    display : grid;
    grid-template-columns : 1fr;
    grid-template-rows : auto;
}

.navbar {
    position : fixed;
    width : 100%;
    height : 80px;
    background : var(--theme);
    
    display : flex;
    
    z-index : 2000;
}

.navbar:before {
    content : "";
    position : absolute;
    bottom : -60px;
    width : 60px;
    height : 60px;
    background : var(--theme);
    
    clip-path : polygon(0% 0%, 100% 0%, 0% 100%);
}

.navbar__container {
    margin : auto;
    width : 98%;
    height : 60px;
    background : #444;
}

.header {
    position : relative;
    margin-top : 80px;
    width : 100%;
    height : 300px;
    background : violet;
    display : flex;
    justify-content : center;
    align-items : center;
}

.main {
    width : 100%;
    height : 500px;
    background : #ccc;
}

.footer {
    width : 100%;
    height : 200px;
    background : #444;
}