.index {
    position : relative;
    /*height : auto;*/
    background : red;
    overflow-y : scroll;
    grid-colmn : span 1;
    /*overflow-x : hidden;*/
    /*overflow-x : hidden;*/
}

.header {
    position : relative;
    margin-top : 80px;
    width : 100%;
    height : 300px;
    background : violet;
    display : flex;
    justify-content : center;
    align-items : center;
}

.main {
    width : 100%;
    height : 500px;
    background : #ccc;
}

.navbar {
    position : fixed;
    width : 100%;
    height : 80px;
    background : tomato;
    
    display : flex;
    
    z-index : 2000;
}

.navbar__container {
    margin : auto;
    width : 95%;
    height : 60px;
    background : #444;
}