{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
<style>
    .index {
        /*width : 100vw;*/
        height : auto;
        background : red;
        /*overflow : hidden;*/
        overflow-y : scroll;
    }
    .header {
        width : 100%;
        height : 300px;
        background : violet;
        display : flex;
        justify-content : center;
        align-items : center;
    }
</style>

<div class="index">
    <header class="header">
        <h1>Welcome to {{ name }}!</h1>
    </header>
</div>

{% endblock %}
