{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block content %}
<style>
    .index {
        /*width : 100vw;*/
        height : auto;
        background : red;
        /*overflow : hidden;*/
        overflow-y : scroll;
    }
</style>

<div class="index">

    <h1>Welcome to {{ name }}!</h1>

</div>

{% endblock %}
