{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('./css/main.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="index">
    <div class="navbar">
        <div class="navbar__container">
            <h2 class="navbar__iconmenu" id="iconmenu">Menu</h2>
            <h2 class="navbar__other">Other</h2>
        </div>
    </div>
    
    <header class="header">
        <img src="" alt="header img" class="header__img"/>
        <h1>Welcome to {{ name }}!</h1>
    </header>
    
    <main class="main"></main>
    
    <footer class="footer">
        <p class="footer__copyright">Copyright CodeY4k</p>
    </footer>
</div>

{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/main.js') }}"></script>
{% endblock %}