* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
            
body{
    font-family : 'Rubik', Helvetica;
}
            
.wrapper {
    margin-left : -200px;
    overflow : hidden;
    height : 100vh;
    display : grid;
    grid-template-columns : 200px 100vw;
    /*grid-template-rows : ;*/
}
.menu-left {
    background : green;
}